<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" [routerLink]="['']">Serie A</a>
  <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
    (click)="isCollapsed = !isCollapsed">
    <i class="fas fa-bars"></i>
  </button>
  <div [ngbCollapse]="!isCollapsed" class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item" *ngIf="this.auth.notExpired()">
        <a class="nav-link ml-auto-ml-md-0" [routerLink]="['/user-ranking']" routerLinkActive="active">Pronostico</a>
      </li>
      <li class="nav-item" *ngIf="this.auth.notExpired()">
        <a class="nav-link ml-auto-ml-md-0" [routerLink]="['/update-results']" routerLinkActive="active">Aggiornamento risultati</a>
      </li>
      <li class="nav-item">
        <a class="nav-link ml-auto ml-md-0" *ngIf="!this.auth.notExpired()" [routerLink]="['/login']">Login <i
            class="fa fa-lock"></i></a>
        <a class="nav-link ml-auto ml-md-0" *ngIf="this.auth.notExpired()" [routerLink]="['/logout']">Logout <i
            class="fa fa-unlock"></i></a>
      </li>
    </ul>
  </div>
  <!-- Navbar-->
</nav>
