
<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
  <a class="navbar-brand" [routerLink]="['']" >Serie A</a>
  <!--button class="btn btn-link btn-sm order-1 order-lg-0" id="sidebarToggle" href="#"><i class="fas fa-bars"></i></button-->
  <div class="ml-auto mr-0 mr-md-3 my-2 my-md-0"></div>
  <!-- Navbar-->
  <a class="nav-link ml-auto ml-md-0" *ngIf="!this.auth.notExpired()" [routerLink]="['/login']" >Login <i class="fa fa-lock"></i></a>
  <a class="nav-link ml-auto ml-md-0" *ngIf="this.auth.notExpired()" [routerLink]="['/logout']">Logout <i class="fa fa-unlock"></i></a>
</nav>
